<!DOCTYPE html>
<html>
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
	{% block head %}{% endblock %}
  </head>
  <body {% block body_tag %}{% endblock %}>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="/">DotA 2 Stats</a>
		  <div class="nav-collapse collapse">
			<ul class="nav nav-pills">
			  <li {% block nav_item_heroes %}{% endblock %}> <a href="/heroes">Heroes</a> </li>
			  <li {% block nav_item_items %}{% endblock %}> <a href="/items">Items</a> </li>
			  <li {% block nav_item_matches %}{% endblock %}> <a href="/matches">Matches</a> </li>
			  <li {% block nav_item_players %}{% endblock %}> <a href="/players">Players</a> </li>
			  <li {% block nav_item_trends %}{% endblock %}> <a href="/trends">Trends</a> </li>
			</ul>
		  </div>
		  <form class="navbar-search pull-right" action="/search">
			<input type="text" class="search-query" placeholder="Search..." />
		  </form>
		  {% if 'current_player_steamid' in request.session %}
		  <p class="navbar-text pull-right">
			  {{request.session['current_player_steamid']}}
		  </p>
		  {% endif %}
		</div>
	  </div>
	</div>
	<div id="main-content"class="container">
	  {% block content %}{% endblock %}
	</div>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

