{% extends "base.jinja2" %}

{% block head %}{% endblock %}

{% block body_tag %}id="players-index"{% endblock %}
{% block nav_item_players %}class="active"{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Players</h1>
</div>
{% endblock %}

