{% extends "base.jinja2" %}

{% block head %}{% endblock %}

{% block body_tag %}id="trends-index"{% endblock %}
{% block nav_item_trends %}class="active"{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Trends</h1>
</div>
{% endblock %}


